LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
OPENAI_API_KEY=
TAVILY_API_KEY=
DISCORD_WEBHOOK=
ETH_MAINNET_RPC=
OP_MAINNET_RPC=
BASE_MAINNET_RPC=
